
<form action="/square_root/results">
  <div>
    <label for="sqRtForm">Enter a number</label>
  </div>
  
  <div>
    <input id="sqRtForm" type="text" placeholder="What number do you want to square root" name="user_number">
  </div>
  
  <div>
    <button>Calculate square root</button>
  </div>
</form>